@import "./blocks/header";
@import "./utils/color";
@import "./utils/fonts";
@import "./blocks/main";

*{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}