.registrarse {
    background-color: #531253;
    text-align: center;
    width: 100%;

    .blanco{
        color: white;
        font-size: 2.5em;
    }

    .naranja{
        color: orange
    }

    p{
        color: white;
      
    }



}